<footer>
  <div><img src="img/csumbLogo.png" alt="CSUMB Logo" style="width: 25%" onmouseover="this.src='/img/csumbLogo2.png'" onmouseout="this.src='/img/csumbLogo.png'">
  </div>
  <div class="footerText">
  CST336 Internet Programming 2021 &copy; Arain <br />
  California State University
    Monterey Bay <br>
          <strong>Disclaimer: </strong> The information on this webpage is used for academic purposes only.<br>
  </div>
    
  </footer>
